<!DOCTYPE html>
<html>
<head>
    <title>{{ post['titulo'] }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Log Collector</h1>
    </header>
    <main>
        <div class="post">
            <h2>{{ post['titulo'] }}</h2>
            <p>Por: {{ post['autor'] }}</p>
            <p>{{ post['conteudo'] }}</p>
        </div>
        <a href="{{ url_for('index') }}" class="btn-voltar">Voltar</a>
    </main>
</body>
</html>